<section class="main">
    <form method="POST" action="/" id="repo-analyze" class="clearfix">
        <input id="repo-search" name="name" class="search-box" placeholder="Your GitHub repository" autofocus="" value="{{repo.name}}">
        <button type="submit" class="search-submit">Analyze</button>
    </form>
    <article class="repo-info">
        {{#if repo}}
        <h2>Report for <a href="{{repo.url}}">{{repo.name}}</a></h2>

        <h3>Hotspots</h3>
         <table class="filereport-table">
         <colgroup>
            <col style="width:85px;" span="1">
            <col style="width:90%;" span="1">
         </colgroup>
         <thead>
        <tr>
            <td class="repository">Modifications</td>
            <td class="status">Path</td>
        </tr>
        </thead>
        <tbody id="repo-results" class="list">
         {{#each repo.hotspots}}
         <tr>
          <td class="modifications">
          {{this.modifications}}
          </td>
          <td class="filename">
          <a href="{{this.url}}">{{this.path}}</a>
          </td>
         </tr>
         {{/each}}
         </tbody>
         </table>

        <h3>Predicted bugs</h3>
         <table class="filereport-table">
         <colgroup>
            <col style="width:85px;" span="1">
            <col style="width:90%;" span="1">
         </colgroup>
         <thead>
        <tr>
            <td class="repository">Score</td>
            <td class="status">Path</td>
        </tr>
        </thead>
        <tbody id="repo-results" class="list">
         {{#each repo.bugspot}}
         <tr>
          <td class="score">
          {{this.score}}
          </td>
          <td class="filename">
          <a href="{{this.url}}">{{this.path}}</a>
          </td>
         </tr>
         {{/each}}
         </tbody>
         </table>

        <h3>Copy Paste Detection</h3>
         <table class="filereport-table">
         <colgroup>
            <col style="width:85px;" span="1">
            <col style="width:90%;" span="1">
         </colgroup>
         <thead>
        <tr>
            <td class="repository">Lines</td>
            <td class="status">Files</td>
        </tr>
        </thead>
        <tbody id="repo-results" class="list">
         {{#each repo.cpd}}
         <tr>
          <td class="score">
          {{this.lineCount}}
          </td>
          <td class="filename">
          <ul>
          {{#each this.duplicationFiles}}
              <li>
                  <a href="{{this.url}}">{{this.fileName}} (L{{this.lineFrom}}-L{{this.lineTo}})</a>
              </li>
          {{/each}}
          </ul>
          </td>
         </tr>
         {{/each}}
         </tbody>
         </table>

        {{/if}}
    </article>
</section>
